In [1]:
import json
import pandas as pd

In [2]:
df =  pd.read_json (r'datos_entrada/horarios_20211_Facultad_ingenieria_transformado.json')

In [3]:
df.head(5)

,Cod,Dia,Docente,Edificio,Espacio_Academico,Grp,Hora,INSCRITOS,Proyecto_curricular,Salon,Sede
0,1,LUNES,SAENZ LESMES ROSS MARY,SABIO CALDAS,CALCULO DIFERENCIAL,025-61,6-7,0,INGENIERIA CATASTRAL Y GEODESIA,AULA 403,CALLE 40
1,1,LUNES,SAENZ LESMES ROSS MARY,SABIO CALDAS,CALCULO DIFERENCIAL,025-61,7-8,0,INGENIERIA CATASTRAL Y GEODESIA,AULA 403,CALLE 40
2,1,MIERCOLES,SAENZ LESMES ROSS MARY,SABIO CALDAS,CALCULO DIFERENCIAL,025-61,6-7,0,INGENIERIA CATASTRAL Y GEODESIA,AULA 206,CALLE 40
3,1,MIERCOLES,SAENZ LESMES ROSS MARY,SABIO CALDAS,CALCULO DIFERENCIAL,025-61,7-8,0,INGENIERIA CATASTRAL Y GEODESIA,AULA 206,CALLE 40
4,1,VIERNES,SAENZ LESMES ROSS MARY,SABIO CALDAS,CALCULO DIFERENCIAL,025-61,6-7,0,INGENIERIA CATASTRAL Y GEODESIA,AULA 205,CALLE 40

In [4]:
df[df.Espacio_Academico.str.contains('\?\?')]

Empty DataFrame
Columns: [Cod, Dia, Docente, Edificio, Espacio_Academico, Grp, Hora, INSCRITOS, Proyecto_curricular, Salon, Sede]
Index: []

In [5]:
dictionary = {'\?\?':'@@'}
df.replace(dictionary, regex=True, inplace=True)
df[df.Espacio_Academico.str.contains('\@\@')]

Empty DataFrame
Columns: [Cod, Dia, Docente, Edificio, Espacio_Academico, Grp, Hora, INSCRITOS, Proyecto_curricular, Salon, Sede]
Index: []

In [6]:
dictionary = {'':'', '': ''}
df.replace(dictionary, regex=True, inplace=True)
df[df.Espacio_Academico.str.contains('\@\@')]

Empty DataFrame
Columns: [Cod, Dia, Docente, Edificio, Espacio_Academico, Grp, Hora, INSCRITOS, Proyecto_curricular, Salon, Sede]
Index: []

In [7]:
df[df.Espacio_Academico.str.contains('\?')]

,Cod,Dia,Docente,Edificio,Espacio_Academico,Grp,Hora,INSCRITOS,Proyecto_curricular,Salon,Sede
434,301,MARTES,RUBIO DAVID MAURICIO,SABIO CALDAS,DISE?O TOPOGRAFICO,025-61,12-13,3,INGENIERIA CATASTRAL Y GEODESIA,SALA DE INFORM?TICA 506,CALLE 40
435,301,MARTES,RUBIO DAVID MAURICIO,SABIO CALDAS,DISE?O TOPOGRAFICO,025-61,13-14,3,INGENIERIA CATASTRAL Y GEODESIA,SALA DE INFORM?TICA 506,CALLE 40
436,301,JUEVES,RUBIO DAVID MAURICIO,ALEJANDRO SUAREZ COPETE,DISE?O TOPOGRAFICO,025-61,12-13,3,INGENIERIA CATASTRAL Y GEODESIA,AULA 203,CALLE 40
437,301,JUEVES,RUBIO DAVID MAURICIO,ALEJANDRO SUAREZ COPETE,DISE?O TOPOGRAFICO,025-61,13-14,3,INGENIERIA CATASTRAL Y GEODESIA,AULA 203,CALLE 40
438,301,MIERCOLES,RUBIO DAVID MAURICIO,SABIO CALDAS,DISE?O TOPOGRAFICO,025-62,12-13,25,INGENIERIA CATASTRAL Y GEODESIA,AULA 406,CALLE 40
...,...,...,...,...,...,...,...,...,...,...,...
5016,131,SABADO,NIEVES PIMIENTO NAYIVE,SABIO CALDAS,DISE?O INTEGRADO DE PRODUCTO Y PROCESO,015-23,9-10,30,INGENIERIA INDUSTRIAL,AULA 304,CALLE 40
5017,131,VIERNES,NIEVES PIMIENTO NAYIVE,CALLE 34,DISE?O INTEGRADO DE PRODUCTO Y PROCESO,015-25,10-11,30,INGENIERIA INDUSTRIAL,AULA 101,CALLE 34
5018,131,VIERNES,NIEVES PIMIENTO NAYIVE,CALLE 34,DISE?O INTEGRADO DE PRODUCTO Y PROCESO,015-25,11-12,30,INGENIERIA INDUSTRIAL,AULA 101,CALLE 34
5019,131,VIERNES,NIEVES PIMIENTO NAYIVE,CALLE 34,DISE?O INTEGRADO DE PRODUCTO Y PROCESO,015-25,12-13,30,INGENIERIA INDUSTRIAL,AULA 101,CALLE 34
5020,131,VIERNES,NIEVES PIMIENTO NAYIVE,CALLE 34,DISE?O INTEGRADO DE PRODUCTO Y PROCESO,015-25,13-14,30,INGENIERIA INDUSTRIAL,AULA 101,CALLE 34

In [8]:
dictionary = {'\?':'Ñ'}
df.replace(dictionary, regex=True, inplace=True)
df[df.Docente.str.contains('Ñ')]

,Cod,Dia,Docente,Edificio,Espacio_Academico,Grp,Hora,INSCRITOS,Proyecto_curricular,Salon,Sede
18,1,LUNES,GONZALEZ NIÑO ESPERANZA,SABIO CALDAS,CALCULO DIFERENCIAL,025-64,6-7,0,INGENIERIA CATASTRAL Y GEODESIA,AULA 301,CALLE 40
19,1,LUNES,GONZALEZ NIÑO ESPERANZA,SABIO CALDAS,CALCULO DIFERENCIAL,025-64,7-8,0,INGENIERIA CATASTRAL Y GEODESIA,AULA 301,CALLE 40
20,1,MIERCOLES,GONZALEZ NIÑO ESPERANZA,SABIO CALDAS,CALCULO DIFERENCIAL,025-64,6-7,0,INGENIERIA CATASTRAL Y GEODESIA,AULA 401,CALLE 40
21,1,MIERCOLES,GONZALEZ NIÑO ESPERANZA,SABIO CALDAS,CALCULO DIFERENCIAL,025-64,7-8,0,INGENIERIA CATASTRAL Y GEODESIA,AULA 401,CALLE 40
22,1,VIERNES,GONZALEZ NIÑO ESPERANZA,SABIO CALDAS,CALCULO DIFERENCIAL,025-64,6-7,0,INGENIERIA CATASTRAL Y GEODESIA,AULA 301,CALLE 40
...,...,...,...,...,...,...,...,...,...,...,...
5218,152,JUEVES,SILVA RIAÑO ALEJANDRO,SABIO CALDAS,ANALISIS Y DECISIONES FINANCIERAS,015-25,13-14,28,INGENIERIA INDUSTRIAL,AULA 408,CALLE 40
5368,16703,LUNES,UMAÑA VILLAMIZAR FLOR DE MARIA,CALLE 34,LOGISTICA INDUSTRIAL III,015-23,6-7,34,INGENIERIA INDUSTRIAL,AULA 101,CALLE 34
5369,16703,LUNES,UMAÑA VILLAMIZAR FLOR DE MARIA,CALLE 34,LOGISTICA INDUSTRIAL III,015-23,7-8,34,INGENIERIA INDUSTRIAL,AULA 101,CALLE 34
5370,16703,JUEVES,UMAÑA VILLAMIZAR FLOR DE MARIA,SABIO CALDAS,LOGISTICA INDUSTRIAL III,015-23,6-7,34,INGENIERIA INDUSTRIAL,AULA 412,CALLE 40
5371,16703,JUEVES,UMAÑA VILLAMIZAR FLOR DE MARIA,SABIO CALDAS,LOGISTICA INDUSTRIAL III,015-23,7-8,34,INGENIERIA INDUSTRIAL,AULA 412,CALLE 40

In [9]:
df[df.Espacio_Academico.str.contains('Ñ')]

,Cod,Dia,Docente,Edificio,Espacio_Academico,Grp,Hora,INSCRITOS,Proyecto_curricular,Salon,Sede
434,301,MARTES,RUBIO DAVID MAURICIO,SABIO CALDAS,DISEÑO TOPOGRAFICO,025-61,12-13,3,INGENIERIA CATASTRAL Y GEODESIA,SALA DE INFORMÑTICA 506,CALLE 40
435,301,MARTES,RUBIO DAVID MAURICIO,SABIO CALDAS,DISEÑO TOPOGRAFICO,025-61,13-14,3,INGENIERIA CATASTRAL Y GEODESIA,SALA DE INFORMÑTICA 506,CALLE 40
436,301,JUEVES,RUBIO DAVID MAURICIO,ALEJANDRO SUAREZ COPETE,DISEÑO TOPOGRAFICO,025-61,12-13,3,INGENIERIA CATASTRAL Y GEODESIA,AULA 203,CALLE 40
437,301,JUEVES,RUBIO DAVID MAURICIO,ALEJANDRO SUAREZ COPETE,DISEÑO TOPOGRAFICO,025-61,13-14,3,INGENIERIA CATASTRAL Y GEODESIA,AULA 203,CALLE 40
438,301,MIERCOLES,RUBIO DAVID MAURICIO,SABIO CALDAS,DISEÑO TOPOGRAFICO,025-62,12-13,25,INGENIERIA CATASTRAL Y GEODESIA,AULA 406,CALLE 40
...,...,...,...,...,...,...,...,...,...,...,...
5016,131,SABADO,NIEVES PIMIENTO NAYIVE,SABIO CALDAS,DISEÑO INTEGRADO DE PRODUCTO Y PROCESO,015-23,9-10,30,INGENIERIA INDUSTRIAL,AULA 304,CALLE 40
5017,131,VIERNES,NIEVES PIMIENTO NAYIVE,CALLE 34,DISEÑO INTEGRADO DE PRODUCTO Y PROCESO,015-25,10-11,30,INGENIERIA INDUSTRIAL,AULA 101,CALLE 34
5018,131,VIERNES,NIEVES PIMIENTO NAYIVE,CALLE 34,DISEÑO INTEGRADO DE PRODUCTO Y PROCESO,015-25,11-12,30,INGENIERIA INDUSTRIAL,AULA 101,CALLE 34
5019,131,VIERNES,NIEVES PIMIENTO NAYIVE,CALLE 34,DISEÑO INTEGRADO DE PRODUCTO Y PROCESO,015-25,12-13,30,INGENIERIA INDUSTRIAL,AULA 101,CALLE 34
5020,131,VIERNES,NIEVES PIMIENTO NAYIVE,CALLE 34,DISEÑO INTEGRADO DE PRODUCTO Y PROCESO,015-25,13-14,30,INGENIERIA INDUSTRIAL,AULA 101,CALLE 34

In [10]:
df.to_json(r'horarios_20211_Facultad_ingenieria_limpio.json',orient='records')