In [2]:
pip install tabula-py

Collecting tabula-py
  Downloading tabula_py-2.2.0-py3-none-any.whl (11.7 MB)
     |████████████████████████████████| 11.7 MB 754 kB/s eta 0:00:01
Collecting distro
  Downloading distro-1.5.0-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: pandas>=0.25.3 in /home/cristian/anaconda3/lib/python3.8/site-packages (from tabula-py) (1.2.4)
Requirement already satisfied: numpy in /home/cristian/anaconda3/lib/python3.8/site-packages (from tabula-py) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/cristian/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /home/cristian/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.3->tabula-py) (2021.1)
Requirement already satisfied: six>=1.5 in /home/cristian/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.16.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.5.0 tabula-py-2.2.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
#!pip install tabula
import tabula as tb
from tabula import read_pdf
import warnings
warnings.filterwarnings('ignore')

In [32]:
infile  = "horarios_20211_Facultad_Artes.pdf" 
df_data = tb.read_pdf(infile, 
                          pages = 10,
                          multiple_tables = True, 
                          #pandas_options={'skiprows':1}
                          #pandas_options={'header': [0,1]}
                         )[0]
df_data.head()

,Cod.,Espacio Academico,Dia,Hora,Sede,Edificio,Salon,Docente
0,8212.0,DANZA TRADICIONAL COLOMBIANA GENERALIDADES I,MARTES,8-9,CENTRO,CENTRO CULTURAL NUEVA,SALON MULTIPLE,MARTINEZ GILBERTO
1,NaN,NaN,NaN,NaN,CULTURAL,SANTAFE,NaN,NaN
2,NaN,NaN,NaN,NaN,NUEVA,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,SANTAFE,NaN,NaN,NaN
4,8212.0,DANZA TRADICIONAL COLOMBIANA GENERALIDADES I,MARTES,8-9,CENTRO,CENTRO CULTURAL NUEVA,SALON MULTIPLE,GUZMAN EDWIN ARMANDO